
:root {
  --color-black: #131313;
  --color-white: #FFFFFF;
  --color-dark-gray: #6F6F6F;
  --color-tomato: #FF4040;
}

body {
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  font-weight: 400;
}

/* GENERAL BEGIN */
.main-container {
  width: 1220px;
  padding: 0 10px;

  margin: 0 auto;
}

.button {
  display: inline-block;
  margin-top: 115px;
  padding: 28px 81px;
  
  cursor: pointer;

  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: 1.1em;

  background-color: var(--color-black);
  color: var(--color-white);
  
  transition: background-color .2s ease-in-out;
}

.button:hover {
  background-color: var(--color-tomato);
}
/* GENERAL END */

/* HEADER BEGIN */
.header {
  margin-top: 3px;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-right: 70px;
}

.menu__list {
  display: flex;
  gap: 50px;
}

.menu__link {
  text-transform: uppercase;
  padding: 40px 20px;
  
  transition: background-color .5s ease-in-out,
              color .2s ease-in-out;
}

.menu__link:hover {
  background-color: var(--color-black);
  color: var(--color-white);
}
/* HEADER END */

/* SECTION DESCRIPTION BEGIN */
.section-description {
  margin-top: 100px;
}

.section-description__inner {
  display: flex;
  justify-content: space-between;
}

.section-description__left-side {
  padding-top: 72px;
}

.section-description__header {
  margin-bottom: 5px;
  
  font-weight: 700;
  font-size: 64px;
  line-height: 77px;
}

.section-description__subheader {
  font-size: 32px;
  color: var(--color-dark-gray);
}

.description-block {
  max-width: 420px;
  margin-top: 60px;

  display: flex;
  flex-direction: column;
  gap: 20px;
}

.description-block__item {
  line-height: 1.2;
}




.section-description__product-slider {
  max-width: 640px;
  max-height: 525px;
  
  text-align: center;
}


.section-description__reasons-to-buy {
  display: flex;
  justify-content: space-between;

  margin-top: 25px;
}

.reasons-to-buy__header,
.reasons-to-buy__description {
  max-width: 160px;
  display: block;
  text-align: center;
}

.reasons-to-buy__description {
  margin-top: 15px;
  font-size: 12px;
}

/* slider */
.product-slider .slick-dots {
  right: 0;
}

.slick-dots {
  display: flex;
  flex-direction: column;
  gap: 10px;

  position: absolute;
  top: 0;

  list-style: none;
}

.slick-dots button {
  width: 2px;
  height: 25px;

  padding: 0;
  border: none;
  background-color: var(--color-black);
  cursor: pointer;
  
  border-radius: 20px;

  font-size: 0;
  transition: background-color .4s ease-in-out;
}

.slick-dots button:hover,
.slick-active button {
  background-color: var(--color-tomato);
}

/* SECTION DESCRIPTION END */

/* SECTION BENEFITS BEGIN */
.section-benefits {
  margin-top: 150px;
}

.section-benefits__inner {
  display: flex;
  gap: 60px;
}

.section-benefits__benefits-block {
  max-width: 450px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.benefits-block__header {
  display: block;
  font-size: 16px;
  margin-bottom: 10px;

  line-height: 19px;
}

.benefits-block__text {
  line-height: 1.2;
}
/* SECTION BENEFITS END */

/* SECTION CHARACTERISTICS BEGIN */
.section-characteristics {
  margin-top: 150px;
}

.section-characteristics__inner {
  display: flex;
  gap: 60px;
}

.section-characteristics__left-side {
  width: 50%;
}

.section-characteristics__header {
  margin-bottom: 40px;  
  
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
}

.section-characteristics__characteristics-block {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.characteristics-list__header {
  margin-bottom: 13px;
  padding: 3px 0;
  
  background-color: var(--color-black);
  color: var(--color-white);

  text-transform: uppercase;
  font-weight: 700;
}

.characteristics-list__row {
  display: flex;
  gap: 30px;
}

.characteristics-list__row:not(:last-child) {
  margin-bottom: 5px;
}

.characteristics-list__row p {
  width: 50%;
}

.section-characteristics__right-side {
  margin: auto 0;
}

/* SECTION CHARACTERISTICS END */


/* SECTION BUY BEGIN */
.section-buy {
  margin-top: 100px;
}

.section-buy__top-side {
  margin-bottom: 50px;
}

.buy-slider {
  position: relative;
  width: 1150px;
  height: 632px;
}

.buy-slider .slick-dots {
  position: absolute;
  left: 0;
  top: 0;
}

.buy-slider {
  padding-left: 50px;
}

.section-buy__bottom-side {
  position: relative;
}

.section-buy__header {
  margin-bottom: 40px;
  
  font-size: 16px;
  text-transform: uppercase;
}

.section-buy__form-header {
  max-width: 300px;
  margin-bottom: 30px;

  line-height: 1.2;
}

.form-buy__input {
  display: block;
  width: 420px;

  margin-bottom: 20px;
  padding-bottom: 10px;
  
  border: none;
  border-bottom: 1px var(--color-dark-gray) solid;

  outline: none;
}

.form-buy__colors-header {
  margin-bottom: 10px;
  color: var(--color-dark-gray);
}

.form-buy__bikes-variants {
  display: flex;
  gap: 23px;
}

.form-buy__radio,
.form-buy__radio + .form-buy__bike-preview {
  display: none;
}

.form-buy__radio:checked + .form-buy__bike-preview {
  display: block;
}

.form-buy__bike-preview {
  position: absolute;

  top: 0;
  right: 0;
}

.form-buy__bike-price-container {
  padding-top: 30px;
}

.form-buy__bike-price-inner {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 221px;
  height: 112px;
}

.bike-price-inner__decoration-1 {
  position: absolute;
  top: 0;
  left: 0;
}

.bike-price-inner__decoration-2 {
  position: absolute;
  left: 0;
}

.form-buy__bike-price {
  z-index: 100;

  font-size: 32px;
  text-align: center;
}

.form-buy__radio-wrapper {
  width: 80px;
  height: 12px;
  border-radius: 30px;

  cursor: pointer;
}

.form-buy__radio-wrapper--white {
  border: 1px var(--color-dark-gray) solid;
}

.form-buy__radio-wrapper--gray {
  background-color: var(--color-dark-gray);
}

.form-buy__radio-wrapper--red {
  background-color: var(--color-tomato);
}

/* SECTION BUY END */

/* FOOTER BEGIN */
.footer {
  margin-top: 100px;
  background-color: var(--color-black);

  color: var(--color-white);
}

.footer__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 25px 0;
}

.footer__policy {
  text-transform: lowercase;
  text-decoration: underline;
}

.footer__social-links {
  display: flex;
  gap: 30px;
}

.footer__contacts {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer__contact {
  display: flex;
  gap: 10px;
}
/* FOOTER END */